/* public/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0f0f0;
  }
  
  .upload-window {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  .upload-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .file-input {
    display: none;
  }
  
  .custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: #78a821;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .custom-file-upload:hover {
    background-color: #0056b3;
  }
  
  .upload-icon {
    font-size: 24px;
    margin-right: 10px;
  }
  
  #message {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
  }
  